*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Wix Madefor Display', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
textarea{
    resize: none;
    outline: none;
}
select{
    overflow: hidden !important;
}
button{
    cursor: pointer;
}