*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Wix Madefor Display', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
button{
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to right, #c31432, #240b36);
}

.divsillo {
    display: flex;
    width: 33%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

p {
    background-color: azure;
    padding: 15px;
    display: none;
}

h3 {
    color: aliceblue;
    text-align: center;
}




button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #111827;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  
  button:hover {
    background-color: #f9fafb;
  }
  
  button:focus {
    outline: 2px solid rgba(0,0,0,0.1);
    outline-offset: 2px;
  }
  
  button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }