@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(221, 221, 221);
}


main{
    width: 980px;
    margin: 50px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-child(even){
    background-color: rgb(221, 221, 221);
}

table tr td {
    padding: 8px 5px;
    text-align: center;
}

.input-container{
    margin: 25px 0;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
}

.input-container input[type="search"] {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(221, 221, 221);
    width: 40%;
}

.bold{
    font-weight: bold;
    color: rgb(199, 12, 12);
}

.results-container{
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
}

.user {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.user1{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}


@media (min-width: 480px){
    main{
        width: 440px;
        margin: 20px auto;
    }
}

@media (min-width: 768px){
    main{
        width: 720px;
        margin: 30px auto;
    }
}

@media (min-width: 1024px){
    
}